body {
    background-color: #c49dff56;
}
.titlediv {
    height: 35px;
    background-color: #c49dff56;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;  
}  
.title {
    font-family: 'Renogare-Regular, Poppins';
    font-size: 70px;
    color: #c49dff;
    text-shadow: 3px 3px #a889da;
}
.bodydiv {
    width: 75%;
    background-color: #c49dff56;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}
.bodytext {
    margin: 2.5%;
    font-family: 'Renogare-Regular, poppins';
    font-size: 35px;
    color: #ffffff;
    text-shadow: 1.5px 1.5px #c49dff;
}
